<div class="d-flex justify-content-center align-item-center">
    <table>
        <tr>
            <th class="p-2">Id</th>
            <th class="p-2">Employee_id</th>
            <th class="p-2">Contact</th>
            <th class="p-2">Email</th>
            <th class="p-2">Birthdate</th>
            <th class="p-2">Qualification</th>
            <th class="p-2">joining_date</th>
            <th class="p-2">resigning_date</th>
            <th class="p-2">Created At</th>
            <th class="p-2">Updated At</th>
           

        </tr>
        <% @records.each do |r| %>
        <tr>
            <td class="p-2">
                <%= r.id %>
            </td>
            <td class="p-2">
                <%= r.Employee_id %>
            </td>
            <td class="p-2">
                <%= r.contact_no %>
            </td>
            <td class="p-2">
                <%= r.email %>
            </td>
            <td class="p-2">
                <%= r.birth_date %>
            </td>
            <td class="p-2">
                <%= r.qualificatiion %>
            </td>
            <td class="p-2">
                <%= r.joining_date %>
            </td>
            <td class="p-2">
                <%= r.resigning_date %>
            </td>
            <td class="p-2">
                <%= r.created_at %>
            </td>
            <td class="p-2">
                <%= r.updated_at %>
            </td>
        </tr>
        <% end %>
    </table>
</div>